@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */

.display-flex {
  display: flex;
}

.text-gray {
  color: #424242;
}

.dark3 {
  color: rgba(114, 114, 114, 1);
}

.btnprim {
  background-color: rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
  padding: 20px 25px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  border: none;

}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}


.sectionTitle {
  font-size: 2.8rem;
  font-weight: 700;
}

/* header styles */

.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}


/* navbar related styles */

.nav-bar {
  justify-content: space-between;
  align-items: center;

}


.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;

}

.nav-bar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-weight: bold;
  font-size: 3rem;
  color: rgba(19, 19, 19, 1);
}

/* banner related */

.bannerContent {
  max-width: 850px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;

}

.bannerTitle {
  font-weight: bold;
  font-size: 4rem;
}

.bannerImg {
  width: 100%;
}

/* main style */

.teams {
  align-items: center;
}

.teamImgSec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.ourFeatures {
  margin-left: 130px;
  max-width: 530px;
}



.featureColor {
  color: #FF900E;
}

#quickList {
  font-weight: 500;
}

.featureDescription,
.factDescription {
  font-size: 1rem;
}

/* Feature Will Enjoy */

.features {
  max-width: 1440px;
  gap: 146px;
}

#featureSectTitle {
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}

.featureAboutUs {
  max-width: 586px;
}

.featureCard {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.featureCard .featureCardTItle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;

}

.featureArchitectImg img {
  width: 100%;
}

#experienceBadge {
  padding: 45px 42px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: -92px;
  margin-top: -123px;
}

#experienceYear {
  font-size: 4rem;
  font-weight: bold;
}



/* some facts related styles */
.factContainer {
  max-width: 1340px;
  margin: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.factCard {
  border: 1px solid #FF900E;
  width: 241px;
  height: 241px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.factNumber {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 1px;
  color: rgba(66, 66, 66, 1);
}

.factName {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
  color: rgba(66, 66, 66, 1);
}

.factDescreption {
  max-width: 542px;
  max-height: 52px;
  margin-bottom: 100px;
}


/* Sponsor related styles */
.sponsorInfo {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}

.sponsorTitle {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}

.sponsorDesc {
  font-size: 16px;
  color: rgba(114, 114, 114, 1);
}

.sponsorCompanies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsorCompanies img {
  filter: grayscale(100%);
}

/* Footer style */
.footer {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* For mobile  */
@media screen and (max-width: 576px) {

  .nav-bar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }

  .teamImgSec {
    grid-template-columns: repeat(1, 1fr);

  }

  .factContainer {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
  }

  .ourFeatures {
    margin-left: 20px;
  }

  .sponsorCompanies {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 30px;
  }

  #experienceBadge {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

}

/* for medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {

  .teams,
  .features {
    flex-direction: column;
  }

  .ourFeatures {
    margin: 50px auto;
  }

  .factContainer {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
  }

  .sponsorCompanies {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  #experienceBadge {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
  }
}